@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

/* TEMP */
@layer base {
  body {
    @apply bg-stone-950 text-stone-300/90;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply text-stone-100 leading-none;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: auto;
    font-style: normal;
  }

  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply md:text-3xl text-2xl;
  }
}

@layer utilities {
  @keyframes gradientMove {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  .animate-gradientMove {
    animation: gradientMove 6s ease-in-out infinite;
  }
}

/* -------- Custom Scrollbar --------- */
body::-webkit-scrollbar {
  @apply w-[9px];
}
body::-webkit-scrollbar-track {
  @apply bg-transparent rounded-[10px];
}
body::-webkit-scrollbar-thumb {
  @apply rounded-[10px] border-stone-800/80 bg-stone-800/20 border-solid border;
}

/* -------- Sweet Alert Error --------- */
/* Popup container */
.swal-popup-lg {
  @apply rounded-3xl w-full max-w-4xl bg-stone-950 border border-stone-800/60 text-stone-400 md:text-base text-sm;
}

/* Popup container */
.swal-popup {
  @apply rounded-3xl w-full max-w-sm bg-stone-950 border border-stone-800/60 text-stone-400 md:text-base text-sm;
}

/* Title styling */
.swal-title {
  @apply text-stone-100 font-medium text-3xl;
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
}

/* CONFIRM: Confirm button */
.swal-confirm-confirm {
  @apply px-4 py-2 md:text-base text-sm rounded-full bg-indigo-400 text-black font-semibold cursor-pointer transition-all duration-300 ease-in-out;
}

/* DANGER: Confirm button */
.swal-confirm-danger {
  @apply px-4 py-2 md:text-base text-sm rounded-full bg-rose-400 text-black font-semibold cursor-pointer transition-all duration-300 ease-in-out;
}

/* SUCCESS: Confirm button */
.swal-confirm-success {
  @apply px-4 py-2 md:text-base text-sm rounded-full bg-emerald-400 text-black font-semibold cursor-pointer transition-all duration-300 ease-in-out;
}

/* Cancel button styling */
.swal-cancel {
  @apply px-4 py-2 md:text-base text-sm rounded-full bg-transparent hover:bg-stone-900/60 text-stone-300 cursor-pointer;
}

/* -------- Spinner/Loading Styles -------- */
/* From Uiverse.io by abrahamcalsin */
.dot-spinner__dark {
  --uib-size: 1.3rem;
  --uib-speed: 0.9s;
  --uib-color: #000;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: var(--uib-size);
  width: var(--uib-size);
}
.dot-spinner__light {
  --uib-size: 1.3rem;
  --uib-speed: 0.9s;
  --uib-color: #e1e1e1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: var(--uib-size);
  width: var(--uib-size);
}

.dot-spinner__dot {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.dot-spinner__dot::before {
  content: "";
  height: 20%;
  width: 20%;
  border-radius: 50%;
  background-color: var(--uib-color);
  transform: scale(0);
  opacity: 0.5;
  animation: pulse0112 calc(var(--uib-speed) * 1.111) ease-in-out infinite;
  box-shadow: 0 0 20px rgba(18, 31, 53, 0.3);
}

.dot-spinner__dot:nth-child(2) {
  transform: rotate(45deg);
}

.dot-spinner__dot:nth-child(2)::before {
  animation-delay: calc(var(--uib-speed) * -0.875);
}

.dot-spinner__dot:nth-child(3) {
  transform: rotate(90deg);
}

.dot-spinner__dot:nth-child(3)::before {
  animation-delay: calc(var(--uib-speed) * -0.75);
}

.dot-spinner__dot:nth-child(4) {
  transform: rotate(135deg);
}

.dot-spinner__dot:nth-child(4)::before {
  animation-delay: calc(var(--uib-speed) * -0.625);
}

.dot-spinner__dot:nth-child(5) {
  transform: rotate(180deg);
}

.dot-spinner__dot:nth-child(5)::before {
  animation-delay: calc(var(--uib-speed) * -0.5);
}

.dot-spinner__dot:nth-child(6) {
  transform: rotate(225deg);
}

.dot-spinner__dot:nth-child(6)::before {
  animation-delay: calc(var(--uib-speed) * -0.375);
}

.dot-spinner__dot:nth-child(7) {
  transform: rotate(270deg);
}

.dot-spinner__dot:nth-child(7)::before {
  animation-delay: calc(var(--uib-speed) * -0.25);
}

.dot-spinner__dot:nth-child(8) {
  transform: rotate(315deg);
}

.dot-spinner__dot:nth-child(8)::before {
  animation-delay: calc(var(--uib-speed) * -0.125);
}

@keyframes pulse0112 {
  0%,
  100% {
    transform: scale(0);
    opacity: 0.5;
  }

  50% {
    transform: scale(1);
    opacity: 1;
  }
}
